<nav class="bg-color-5-650 h-12 sticky top-0 left-0 right-0 z-50">
  <div class="container mx-auto h-full {{container}}">
    <div class="flex justify-between items-center py-4 h-full ">
      <ul class="flex  items-center h-full justify-between w-full">
        <li>
            <a href="#" class="text-white hover:text-primary-100 text-xs font-thin" >Mis productos</a>
        </li>
        <li>
            <a href="#" class="text-white hover:text-primary-100 text-xs font-thin">Cuentas</a>
        </li>
        <li>
            <a href="#" class="text-white hover:text-primary-100 text-xs font-thin">Tarjetas</a>
        </li>
        <li>
            <a href="#" class="text-white hover:text-primary-100 text-xs font-thin">Prestamos</a>
        </li>
        <li>
            <a href="#" class="text-white hover:text-primary-100 text-xs font-thin">Seguros</a>
        </li>
        <li>
            <a href="#" class="text-white hover:text-primary-100 text-xs font-thin">Viajes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>