{% load compress %} {% load static %} {% load django_browser_reload %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>T - Bank</title>

		{% compress css %}
		<link rel="stylesheet" href="{% static 'src/output.css' %}" />
		{% endcompress %}
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Manrope:wght@200..800&display=swap"
			rel="stylesheet"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
		{% comment %} delete this later {% endcomment %}
		<script src="https://cdn.tailwindcss.com"></script>
	</head>

	<body class="bg-color-3-100 font-body">
			{% include 'components/navbar.html' %} 
			{% block content %} 
			{% endblock content %} 
		{% django_browser_reload_script %}
	</body>
</html>
