<section class="bg-color-3 w-full items-center justify-end flex py-12">
    <div class="w-[50%]">
        <div
            class="2xl:max-w-xl xl:max-w-lg lg:max-w-md max-w-xs ml-auto mr-0 space-y-4 pr-20"
        >
            <p class="text-white text-xs">{{banner.super_title}}</p>
            <p></p>
            <h1 class="{{heading_white}}">{{banner.title}}</h1>
            <p class="text-white text-xs">{{banner.sub_title}}</p>
            <a class="{{primary_button}} mt-4" href="{{banner.cta_href}}"
                >{{banner.cta}}</a
            >
        </div>
    </div>
    <div class="self-end w-[50%] relative inline-block" class="bg-color-3">
        <img src="{{banner.image_url}}" alt="hero" class="bg-color-3 w-full" />
    </div>
</section>
