<nav class="bg-color-3 h-20 sticky top-0 left-0 right-0 z-50">
    <div class="container mx-auto h-full {{container}}">
        <div class="flex justify-between items-center py-4 h-full ">
            <ul class="flex  items-center h-full justify-between w-full">
                <li>
                    <h1 href="#" class="text-white hover:text-primary-100 text-2xl font-heading" >T-Bank</h1>
                </li>
                <div class= "flex-row flex space-x-6">
                    <li>
                        <a href="#" class="text-white hover:text-primary-100 text-xs font-thin">PERSONAS</a>
                    </li>
                    <li>
                        <a href="#" class="text-white hover:text-primary-100 text-xs font-thin">EMPRESAS</a>
                    </li>
                </div>
                <li>
                    <a href="#" class="text-white hover:text-primary-100 text-xs font-thin">Solicita tu tarjeta de credito</a>
                </li>
                <li>
                    <a href="#" class="text-white hover:text-primary-100 text-xs font-thin">Hacete cliente</a>
                </li>
                <li>
                    <a href="#" class="{{primary_button}}">Banca Online</a>
                </li>
                <li>
                    <a href="#" class="text-white hover:text-primary-100 text-xs font-thin">Menu</a>
                </li>
            </ul>
        </div>
</nav>