{% extends '_base.html' %}

{% block title %}Register{% endblock title %}

{% block content %}
<section class="{{container}} mx-auto">
<div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8   mt-12">
    <form class="space-y-6" action="" method="post">
      {% csrf_token %}
        <h2 class="{{section_title}}">Hello! We welcome you to Online Banking</h2>
        {{ form.as_p }}
        <button type="submit" class="w-full text-white bg-color-3-700 hover:bg-color-3-800 focus:ring-4 focus:outline-none focus:ring-color-3-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-color-3-600 dark:hover:bg-color-3-700 dark:focus:ring-color-3-800">Sign Up</button>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
          If this is the first time you are entering Online Banking, <a href={% url "sign-up"%} class="text-color-3-700 hover:underline dark:text-color-3-500">Sign Up</a>
        </div>
    </form>
</div>

</section>
{% endblock content %}